@page "/brand/{id:guid}"

@using Microsoft.AspNetCore.Components.Authorization
@using TDiary.Common.ServiceContracts
@using TDiary.Web.Services
@using TDiary.Web.Services.Interfaces
@using TDiary.Common.Models.Entities
@using System.Text.Json
@using TDiary.Common.Models.Entities.Enums

@inject AuthenticationStateProvider authenticationStateProvider
@inject ISynchronizationService SynchronizationService
@inject NetworkStateService NetworkStateService
@inject IEntityQueryService EntityQueryService
@inject IEventService EventService
@inject NavigationManager NavigationManager

<h3>BrandEdit</h3>
@if (isBusy)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <EditForm EditContext="@EditContext" OnValidSubmit="OnValidSubmit">
        <MudTextField Label="Name" @bind-Value="Brand.Name" For="@(() => Brand.Name)" />

        <MudFab ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Save" Class="ml-auto mt-5"></MudFab>
    </EditForm>
}

