@page "/brands"
@attribute [Authorize]

@if (!IsBusy)
{

    <h3>Brands</h3>
    <EditForm Model="Brand">
        <InputText @bind-Value="Brand.Name" />
    </EditForm>

    <button @onclick="Add">Add</button>
    <button @onclick="Add1000">Add1000</button>
    <button @onclick="Get">Get</button>

    @foreach (var brand in BrandsList)
    {
        <div>
            <NavLink href="@($"brand/{brand.Id}")"> @brand.Name</NavLink>
        </div>
    }
}
else
{
    <h3>Busy</h3>
}