@page "/brands/{id:guid}"

@using TDiary.Common.Models.Entities
@using TDiary.Web.Pages.Base

@inherits EditBase<Brand>;

<div class="d-flex mb-5">
    <h2 class="d-flex align-center">Edit Brand</h2>
</div>

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="ml-0 mr-0 pa-0">
    @if (isBusy)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    }
    else
    {
        <EditForm EditContext="@EditContext" OnValidSubmit="OnValidSubmit">
            <MudTextField Label="Name" @bind-Value="Model.Name" For="@(() => Model.Name)" />

            <MudFab ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Save" Size="@Size.Medium" Class="ml-auto mt-5"></MudFab>
        </EditForm>
    }
</MudContainer>


