@page "/brand/{id:guid}"

@using Microsoft.AspNetCore.Components.Authorization
@using TDiary.Common.ServiceContracts
@using TDiary.Web.Services
@using TDiary.Web.Services.Interfaces
@using TDiary.Common.Models.Entities
@using System.Text.Json
@using TDiary.Common.Models.Entities.Enums

@inject AuthenticationStateProvider authenticationStateProvider
@inject ISynchronizationService SynchronizationService
@inject NetworkStateService NetworkStateService
@inject IEntityQueryService EntityQueryService
@inject IEventService EventService
@inject NavigationManager NavigationManager

<h3>BrandEdit</h3>
<EditForm EditContext="@EditContext">
    <InputText @bind-Value="@Name"></InputText>
</EditForm>
<button class="btn btn-primary" @onclick="Update">Update</button>
