@page "/brands"
@attribute [Authorize]
@inject IEventService EventService
@inject IBrandService BrandService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NetworkStateService NetworkStateService
@inject ISynchronizationService SynchronizationService

<h3>Brands</h3>
<EditForm Model="Brand">
    <InputText @bind-Value="Brand.Name" />
</EditForm>

<button @onclick="Add">Add</button>
<button @onclick="Get">Get</button>

@foreach (var brand in BrandsList)
{
    <div>@brand.Name</div>
}

@code {
    public Brand Brand { get; set; } = new();
    public List<Brand> BrandsList { get; set; } = new List<Brand>();

    protected override async Task OnInitializedAsync()
    {
        var isOnline = await NetworkStateService.IsOnline();
        if (isOnline)
        {
            var userId = await GetUserId();
            await SynchronizationService.Synchronize(userId);
        }
        await Get();
    }

    public async Task Add()
    {
        var userId = await GetUserId();
        Brand.UserId = userId;
        Brand.Id = Guid.NewGuid();
        var addBrandEvent = new Event
        {
            CreatedAt = DateTime.Now,
            CreatedAtUtc = DateTime.UtcNow,
            Data = JsonSerializer.Serialize(Brand),
            Entity = "Brand",
            EventType = EventType.Insert,
            Id = Guid.NewGuid(),
            TimeZone = TimeZoneInfo.Local.Id,
            UserId = userId,
            Version = 1
        };
        await EventService.Add(userId, addBrandEvent);
        Brand = new();
        await Get();
    }

    public async Task Get()
    {

        var userId = await GetUserId();
        var result = await BrandService.Get(userId);
        BrandsList = new List<Brand>(result);
    }

    private async Task<Guid> GetUserId()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var claims = user.Claims;
        var userIdClaim = claims.FirstOrDefault(c => c.Type == "id").Value;
        var userId = Guid.Parse(userIdClaim);

        return userId;
    }

}
