@page "/foodItems/{id:guid}"

@using Microsoft.AspNetCore.Components.Authorization
@using TDiary.Common.ServiceContracts
@using TDiary.Web.Services
@using TDiary.Web.Services.Interfaces
@using TDiary.Common.Models.Entities
@using System.Text.Json
@using TDiary.Common.Models.Entities.Enums

@inject AuthenticationStateProvider authenticationStateProvider
@inject ISynchronizationService SynchronizationService
@inject NetworkStateService NetworkStateService
@inject IEntityQueryService EntityQueryService
@inject IEventService EventService
@inject NavigationManager NavigationManager

<div class="d-flex mb-5">
    <h2 class="d-flex align-center">Edit Food item</h2>
</div>

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="ml-0 mr-0 pa-0">
    @if (isBusy)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    }
    else
    {
        <EditForm EditContext="@EditContext" OnValidSubmit="OnValidSubmit">
            <MudTextField Label="Name" @bind-Value="foodItem.Name" For="@(() => foodItem.Name)" />

            <MudFab ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Save" Size="@Size.Medium" Class="ml-auto mt-5"></MudFab>
        </EditForm>
    }
</MudContainer>


